@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

* {
    scrollbar-width: none;
    user-select: none;
}

button {
    cursor: pointer;
}

.comp {
    transform: translateY(-4rem) !important;
}

ul {
    list-style: disc;
    padding-left: 1.5em;
}

ol {
    list-style: decimal;
    padding-left: 1.5em;
}

li {
    margin-bottom: 0.5em;
}

blockquote {
    border-left: 4px solid gray;
    border-radius: 5px;
    padding-left: 0.5rem;
    margin-block: 6px;
}

pre {
    background-color: black;
    padding-inline: 4px;
    padding-block: 2px;
    border-radius: 10px;
    width: fit-content;
    color: white;
    margin-block: 6px;
}

.ql-align-center {
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}